@media(min-width: 768px) {
    #challenges .top-bottom-images{
        width: 400px;
    }
}

@media (max-width: 767px) {
    #contact .seperator-line:not(:last-child){
        border-bottom: 1px solid black;
    }
}

#about .about-text {
    max-width: 1100px;
    margin: 0 auto;
}

@media (min-width: 410px) {
    #about .about-text {
        font-size: 25px;
    }
}

@media (max-width: 410px) {
    #about .about-text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    #challenges .mb-image{
        margin-bottom: 35px;
    }
}